<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book view</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="footer :: menu"></div>
<h1>Edit book:</h1>
<form id="edit-author" th:action="@{/book/edit}" th:method="post">
    <div>
        <label for="id-input">ID:</label>
        <input id="id-input" name="id" readonly="readonly" th:value="${book.id}" type="text" value="1"/>
    </div>
    <div>
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" readonly="readonly" th:value="${book.title}" type="text"
               value="John Dowe"/>
    </div>
    <div>
        <label for="author-input">Author:</label>
        <input id="author-input" name="authorName" readonly="readonly" th:value="${book.author.name}" type="text"
               value="Mark Twain"/>
    </div>
    <div>
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genreName" readonly="readonly" th:value="${book.genre.name}" type="text"
               value="Fantasy"/>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>


</form>
<h1>Comments:</h1>
<table class="comments">
    <thead>
    <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment: ${comments}" th:object="${comment}">
        <td th:text="*{id}">1</td>
        <td th:text="*{text}">John Doe</td>
        <td>
            <a href="../books/books_edit.html" th:href="@{/book/comments/edit(id=*{id})}">Edit</a>
            <a href="../books/books_edit.html" th:href="@{/book/comments/delete(id=*{id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>


<h1>Add comment:</h1>
<form id="add-comment" th:action="@{/book/comments/add(bookid=${book.id})}" th:method="post">
    <!--    <div>-->
    <!--        <label for="cid-input">ID:</label>-->
    <!--        <input id = "cid-input" type="text" name="id" readonly="readonly" th:value="${comment.id}" value="1"/>-->
    <!--    </div>-->
    <div>

        <!--        <label name = "bookid" th:text="${book.id}" >-->
        <!--&lt;!&ndash;            <input name = "bookid" th:value="${book.id}" value="bookid" readonly="readonly">&ndash;&gt;-->
        <!--        </label>-->
        <label for="ctext-input">Text:</label>
        <input id="ctext-input" name="text" th:value="${commentText}" type="text" value="Comment sample"/>
    </div>

    <div>
        <button type="submit">Save</button>
    </div>


</form>
</body>
<footer th:insert="footer :: copy">...</footer>
</html>
